@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.transcription-container {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  color: #333;
  max-width: 600px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.transcription-entry {
  margin-bottom: 15px; /* Space between entries */
}

.timestamp {
  font-weight: bold;
  margin-right: 5px;
}

.speaker {
  font-weight: bold;
  color: #1a1a1a;
}

.caption {
  color: #4a4a4a;
}
